<!--
  ~ Copyright (c) 2026 Gradum Authors
  ~ For licensing terms and conditions, see the MIT LICENSE file.
  ~
  ~ logback.xml  2026-09-23 23:57:51 Changed by gwy
  -->

<configuration>
    <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>

    <!-- Custom converters for Logcat-style output -->
    <conversionRule conversionWord="gradumLevel" converterClass="gradum.logging.GradumLevelConverter"/>
    <conversionRule conversionWord="gradumPort" converterClass="gradum.logging.GradumPortConverter"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %gradumPort %gradumLevel %logger{0} %msg%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>

    <logger name="org.eclipse.jetty" level="warn"/>
    <logger name="io.netty" level="warn"/>
    <logger name="ktor" level="info"/>
</configuration>
